@model CityWeather;

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
   
    <h1 style="color: red;">@Model.CityCode is not valid!</h1>
      
</body>
</html>